@charset "UTF-8";

body{
    background:#EAE5E5;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

header{
    text-align:center;
    color:#796D6D;
    font-size: 28px;
    margin-top: 30px;
}

#spend{
    position:relative;
    margin: 0 auto;
    margin-top: 25px;
    width:540px;
    height:100px;
    background:white;
}
#spend h4{
    color:#796D6D;
    text-align:center;
    position:absolute;
    bottom:-10px;
    left:185px;
} 
#spendTotal{
    color: #E59999;
    text-align:center;
    font-size:36px;
    padding:18px;
}
.box{
    position:relative;
    height:150px;
    width:275px;
    background:white; 
    margin:35px;
    margin-left:75px;
}
.box input{
    width: 94px;
    height: 45px;
    margin-top:35px;
    margin-left:-8px;
    border:none;
}
.box input[type=text]{
    font-size:36px;
    color:#87B7D1; 
    text-align:center;
}
.box h4{
    color:#796D6D;
    text-align:center;
    position:absolute;
    bottom:7px;
    left:95px;
}
#box1 h2{
    color:#87B7D1;
    font-weight:400;
    font-size:36px;
    margin-left:75px;

}
#box2 h2{
    color:#87B7D1;
    font-weight:400;
    font-size:36px;
    margin-left:75px;
}
#box3 h2{
    color:#87B7D1;
    font-weight:400;
    font-size:36px;
    margin-left:75px;

}
#box3 h4{
    left:115px;
}
#total{
    position:absolute;
    height:520px;
    width:875px;
    background:white; 
    margin-left: 443px;
    margin-top: -556px;
}
#total h2{
    color:#87B7D1; 
    font-size: 45px;
    margin-left:205px;
}
#total input{
    width: 125px;
    height: 45px;
   border:none;
}
#total input[type=text]{
    font-size:40px;
    color:#87B7D1; 
    text-align:center;
}
#ototal{
    position:relative;
    margin:0 auto;
    height:360px;
    width:750px;
    background:#87B7D1; 
    margin-top:10px;
}
#ototal h2{
    color:#FFFFFF;
    margin-left:60px;
    margin-top:-10px;
    padding-top:36px;
}
